/* styles for VideoComponent.vue */

.video-container {
  width: 100%;
  float: left;
  background: transparent;
  display: grid;
  place-items: center;
  /* box-shadow: 0 0 10px #111; */
  border-radius: 15px; /* Adjust the border-radius as needed */
  overflow: hidden; /* Ensures that the video respects the rounded corners */
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 820px) {
  .video-container {
    width: 100%;
  }
}
